In [ ]:
x = [1,2,3,4]
if len(x)==3:
    print("it exist")
elif len(x)==4:
    print("it exist")
else:
    print("it doesnt exist")

it exist

In [ ]:
#check the number is palindrome or not
x = input("enter any number,string:")
reverse  = x[::-1]
print(reverse)
if x==reverse:
  print("the number is paindrome")
else:
  print("the number is not palinedrome")

enter any number,string:121
121
the number is paindrome

In [ ]:
#function
def add(a,b):
  print("the sum of two numbers is:",a+b)
def sub(a,b):
   print("the difference of two numbers is:",a-b)
def multiply(a,b):
  print("the multiplication of two numbers is:",a*b)
add(1,1)
sub(2,1)
multiply(2,4)

the sum of two numbers is: 2
the difference of two numbers is: 1
the multiplication of two numbers is: 8

In [ ]:
class operators():
  def get_oper(self,a,b):
    print("the sum is:",a+b)
    print("the sub is:",a-b)
    print("the mul is :",a*b)
    print("the div is:",int(a/b))
total = operators()
total.get_oper(2,2)

the sum is: 4
the sub is: 0
the mul is : 4
the div is: 1

In [ ]:
total_list = [i for i in range(1,11) if i%2==0]
print(total_list)

[2, 4, 6, 8, 10]

In [ ]:
sum = [1,2,3,4,5]
add = [i+1 for i in sum ]
print(add)

[2, 3, 4, 5, 6]

In [ ]:
x =lambda x:x**3
print(x(3))

27

In [ ]:
data =["even" if i%2==0 else "odd" for i in range(1,6)]
print(data)

['odd', 'even', 'odd', 'even', 'odd']

In [ ]:
a = [1, 2, 3]
b = ['A', 'B', 'C']

In [ ]:
a = [1, 2, 3]
b = ['A', 'B', 'C']
c = [str(i)+j for i in a for j in b]
print(c)

['1A', '1B', '1C', '2A', '2B', '2C', '3A', '3B', '3C']

In [ ]:
nums = [[1, 2, 3], [3, 4, 5], [6, 7, 8]]
c = [e for i in nums for e in nums]
print(c)

[[1, 2, 3], [3, 4, 5], [6, 7, 8], [1, 2, 3], [3, 4, 5], [6, 7, 8], [1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [ ]:
total_list =list(map(lambda x:x*x,range(1,11)))
print(total_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list1 = list(filter(lambda x:x>4,range(11)))
print(list1)

[5, 6, 7, 8, 9, 10]

In [ ]:
from functools import reduce
list2 = reduce(lambda x,y:(x+1*y/2%3),range(11))
print(list2)

12.5

In [ ]:
while True:
    list1 = [i for i in range(10) if i%2==0]   
    break
print(list1)

[0, 2, 4, 6, 8]

In [144]:
a,b = "a",5
print(a*b)

aaaaa

In [160]:
#*args
def myfun(*args):
   for i in args:
    print(i)
x = myfun("i","am","from","Nepal")

i
am
from
Nepal

In [165]:
#*args
def arg(arg1,*arg):
  print("first arguments:",arg1)
  for i in arg:
    print("argument of arg is:",i)
arg("hard work beat talent","believe in hardwork not god","i will achieve my dreams",1)

first arguments: hard work beat talent
argument of arg is: believe in hardwork not god
argument of arg is: i will achieve my dreams
argument of arg is: 1

In [176]:
#**kwarg
def myfun(**kwargs):
    for key,value in kwargs.items():
      print("%s=%s"%(key,value))

myfun(name="awaz",country="Nepal",age=18)

name=awaz
country=Nepal
age=18

In [179]:
def myfun(*args,**kwargs):
    for key,value in kwargs.items():
      print("%s=%s"%(key,value))

myfun("i",name="awaz",country="Nepal",age=18)

name=awaz
country=Nepal
age=18

In [188]:
def myfun(arg1,arg2,arg3):
  print("arg1:",arg1)
  print("arg2",arg2)
  print("arg3:",arg3)
args=("you","are","amazing")
myfun(*args)

kwargs = {"arg1":"you","arg2":"work","arg3": "hard"}
myfun(**kwargs)

arg1: you
arg2 are
arg3: amazing
arg1: you
arg2 work
arg3: hard

In [192]:
#arg and kwarg
def myfun(*arg,**kwarg):
  print("args:",arg)
  print("kwarg",kwarg)
myfun("you","are","amazing",first_name="awaz",last_name="bhujel")

args: ('you', 'are', 'amazing')
kwarg {'first_name': 'awaz', 'last_name': 'bhujel'}

In [ ]:
while True:
  if i<=100:
    print("i love you")

In [ ]:
dic1 = {"awaz":1,"asmin":2,"aman":3,"ram":4}
total  =[(i,j) for i,j in dic1.items()]
for key,value in dic1.items():
  print([key,value])
print(total)

['awaz', 1]
['asmin', 2]
['aman', 3]
['ram', 4]
[('awaz', 1), ('asmin', 2), ('aman', 3), ('ram', 4)]