In [ ]:
#lambda fun in list
list1 = [lambda x=x:x*10 for x in range(1,11)]
for i in list1:
  print(i())

10
20
30
40
50
60
70
80
90
100

In [ ]:
x ="i believe in hardwork"
(lambda x:print(x))(x)

i believe in hardwork

In [ ]:
#def
def cube(y):
  return y*y*y

lamb = lambda y:y*y*y
print(cube(5))
print(lamb(5))

125
125

In [ ]:
#lambda if else
max1=lambda a,b:a if (a!=b) else b
print(max1(2,2))

2

In [ ]:
#lamb with multiple statement
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]
sortlst= lambda x:(sorted(i) for i in x)

secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortlst)
print(res)

[3, 16, 9]

In [ ]:
#filter with list
lis = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
total_list =list(filter(lambda x:(x%2!=0),lis))
print(total_list)

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = lambda x:x>18
print(adults)

(<function <lambda> at 0x7f9cd5c02710>, [13, 90, 17, 59, 21, 60, 5])

In [ ]:
even = [i+2 for i in range(1,11) if i%2==0]
print(even)

[4, 6, 8, 10, 12]

In [ ]:
list1=[i for i in range(1,11) if i %2!=0]
print(list1)

[1, 3, 5, 7, 9]

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(a[i],i)

Mary 0
had 1
a 2
little 3
lamb 4

In [ ]:
#break
for i in range(10):
  if i>=5:
    break
  print(i)

0
1
2
3
4

In [ ]:
#continue
for i in range(1,11):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
#for loop to seperate the string
sep_letters=[]
for i in "analyts":
  sep_letters.append(i)
print(sep_letters)

['a', 'n', 'a', 'l', 'y', 't', 's']

In [ ]:
# comprehension list
sep_letrs=[i for i in "analytics"]
print(sep_letters)

['a', 'n', 'a', 'l', 'y', 't', 's']

In [36]:
filtered_list = [x for x in range(50) if x%2==0 if x%3==0]
print(filtered_list)

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [38]:
list1 =["even" if x%2==0 else "odd" for x in range(5)]
print(list1)

['even', 'odd', 'even', 'odd', 'even']

In [39]:
#transpose
matrix = [[1, 2], [3,4], [5,6], [7,8]]
trans_matrix = [[row[i] for row in matrix] for i in range(2)]
print(trans_matrix)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [44]:
names = ['Ch','Dh','Eh','cb','Tb','Td','Chb','Tdb']
final_name = [(i) for i in names if i.lower().endswith("b") and len(i)>2]
print(final_name)

['Chb', 'Tdb']

In [45]:
#reverse the string using comprehension
list2 = [string[::-1] for string in ("awaz","asmin","aman")]
print(list2)

['zawa', 'nimsa', 'nama']