In [ ]:
#object oriented programming

In [ ]:
class Dog:
  species = "Canis familiaris"
  def __init__(self,name,age):
    self.name = name
    self.age = age

buddy = Dog("Buddy", 9)
miles = Dog("Miles", 4)
buddy.name
buddy.age
miles.name
miles.age
buddy.species
miles.species
buddy.age=10
buddy.age

10

In [ ]:
#Instance methods
class Dog:
    species = "Canis familiaris"

    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
      return f"{self.name} is {self.age} years old"
    
    def speak(self,sound):
      return f"{self.name} says {sound}"

miles = Dog("Miles", 4)
print(miles)

Miles is 4 years old

In [ ]:
#inheritance
class polygon:
  def __init__(self,no_of_sides):
    self.n = no_of_sides
    self.sides = [0 for i in range(no_of_sides)]
  
  def inputsides(self):
    self.sides= [float(input("Enter side "+str(i+1)+" : ")) for i in range(self.n)]

  def dispsides(self):
    for i in range(self.n):
      print("Side",i+1,"is",self.sides[i])

class triangle(polygon):
  def __init__(self):
      polygon.__init__(self,3)
  
  def findarea(self):
    a,b,c=self.sides
    # calculate the semi-perimeter
    s = (a+b+c)/2
    area = (s*(s-a)*(s-b)*(s-c)) ** 0.5
    print('The area of the triangle is %0.2f' %area)

t = triangle()
t.inputsides()
t.dispsides()
t.findarea()

Enter side 1 : 3
Enter side 2 : 5
Enter side 3 : 4
Side 1 is 3.0
Side 2 is 5.0
Side 3 is 4.0
The area of the triangle is 6.00

In [ ]:
isinstance(t,triangle)
isinstance(t,polygon)

True

In [ ]:
class person:
  def __init__(self,name):
    self.name = name
  def get_name(self):
      return self.name
  def isemployee(self):
    return False

class employee(person):
    def isemploye(self):
      return True
emp = person("awaz") # An Object of Person
emp.get_name()
emp.isemployee()

emp = employee("asmin") # An Object of Employee
emp.get_name()
emp.isemployee()
emp.isemploye()

True

In [ ]:
# Python code to demonstrate how parent constructors
#parent class
class person:
  # __init__ is known as the constructor 
  def __init__(self,name,idnumber):
    self.name=name
    self.idnumber= idnumber
  def display(self):
    return f"name is {self.name} and idnumber is {self.idnumber}"
#child class
class employee(person):
  def __init__(self,name,idnumber,salary,post):
    person.__init__(self,name,idnumber)

a = employee("awaz",1,60000,"tech")
b = employee("asmin",2,80000,"doctor")
b.display()

'name is asmin and idnumber is 2'

In [ ]:
class A:
   def __init__(self, n):
        self.n = n
   def get_name(self):
     return self.n
class B(A):
  def __init__(self, roll):
              self.roll = roll
  def roll_no(self):
    print(f"the roll no is {self.roll}")

B = B(12)
B.roll_no()

the roll no is 12

In [2]:
#Python to show multiple
# inheritance
class base1():
  def __init__(self):
    self.name1= "awaz"
    print("base1")

class base2():
  def __init__(self):
    self.name2 = "asmin"
    print("base2")

class derived(base1,base2):
  def __init__(self):
    base1.__init__(self)
    base2.__init__(self)
    print("derived")
  
  def print_name(self):
    print(self.name1,self.name2)

name = derived()
name.print_name()

base1
base2
derived
awaz asmin

In [9]:
class first_name:
    def __init__(self):
      self.first ="awaz"

class last_name:
  def __init__(self):
    self.last ="bhujel"
  
class fullname(first_name,last_name):
  def __init__(self):
    first_name.__init__(self)
    last_name.__init__(self)
  
  def getfullname(self):
      print(f"first name is:{self.first} and second name is:{self.last}")

fullname =fullname()
fullname.getfullname()

first_name
last_name
first name is:awaz and second name is:bhujel

In [11]:
#Multilevel inheritance
class base:
  #constructor 
  def __init__(self,name):
    self.name=name
   #to get name 
  def getname(self):
    return self.name

#child class or inheritance
class child(base):
  #constructior
  def __init__(self,name,last_name,age):
    base.__init__(self,name)
    self.last_name = last_name
    self.age = age
  #getlast name
  def get_lastname(self):
    return self.last_name
   #get age
  def get_age(self):
    return self.age

# Inherited or Sub class
class grandchild(child):
  #construction
  def __init__(self,name,last_name,age,address):
    child.__init__(self,name,last_name,age)
    self.address = address
  
  def get_address(self):
    return self.address

g= grandchild("awaz","bhujel",19,"nepal")
#print your output
print(g.getname(),g.get_lastname(),g.get_age(),g.get_address())

awaz bhujel 19 nepal

In [ ]:
#demonstrate private members
class c:
  def __init__(self):
    self.c = 32
    self.__d=42
class d(c):
  def __init__(self):
    self.e = 84
    c.__init__(self)
obj=d()
obj.d

In [46]:
#Creating a Parent Class
class person:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname
  def prtname(self):
    print(self.fname,self.lname)
#creating child class
#Using the super() Function
class totalstud(person):
  def __init__(self,fname,lname,age):
    super().__init__(fname,lname)
    self.age = age

  def getage(self):
    return self.age
  def welcome(self):
    print(f"welcome,{self.fname},{self.lname} and age {self.age} to your new class")
x =totalstud("awaz","bhujel",20)
x.prtname()
x.getage()
x.welcome()

awaz bhujel
welcome,awaz,bhujel and age 20 to your new class