In [ ]:
x = (10,20,30,40,50)
for i in x:
  print("index",str(x.index(i))+":",i)

index 0: 10
index 1: 20
index 2: 30
index 3: 40
index 4: 50

In [ ]:
x = [(1,2), (3,4), (5,6)]
for a,b in x:
  print(a,"plus",b,"=",a+b)

1 plus 2 = 3
3 plus 4 = 7
5 plus 6 = 11

In [ ]:
stocks = {
        'AAPL': 187.31,
        'MSFT': 124.06,
        'FB': 183.50
    }
for i,j in stocks.items():
  print(i+":",j)

AAPL: 187.31
MSFT: 124.06
FB: 183.5

In [20]:
repeat = int(input("enter a whole number:"))
for i in range(repeat):
  option = input("skip,print or exit")
  if option =="print":
    print(i)
    break
  elif option=="skip":
    continue
  elif option=="exit":
    break
  else:
    print("print correct sentences")
print("good bye")

enter a whole number:50
skip,print or exitprint
0
good bye

In [32]:
presentprice  = []
for i in range(3):
  price = input("how is did the price cost:")
  price = int(price)
  presentprice.append(price)
print(presentprice)
print("total:",sum(presentprice))
print("highest price:",max(presentprice))
print("lowest price:",min(presentprice))
print("average price:",(sum(presentprice)//len(presentprice)))

how is did the price cost:11
how is did the price cost:12
how is did the price cost:13
[11, 12, 13]
total: 36
highest price: 13
lowest price: 11
average price: 12

In [ ]:
for num1 in range(10):
  for num2 in range(10):
    print(num1,num2)

In [34]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [42]:
while True:
  print("here r your options")
  print("1.haha")
  print("2.hoho")
  print("3.exit")

  inp= int(input("enter your choice:"))
  if inp ==1:
    print("haha")
  elif inp==2:
    print("hoho")
  else:
      break

here r your options
1.haha
2.hoho
3.exit
enter your choice:2
hoho
here r your options
1.haha
2.hoho
3.exit
enter your choice:3

In [54]:
numbers = [1,2,3,4,5,6,7,8,9]
count_even = 0 
count_odd = 0
for i in numbers:
  if i%2==0:
    count_even +=1
  elif i%2!=0:
    count_odd +=1
print("count of odd number is:",count_odd,"and count of even number is:",count_even)

count of odd number is: 5 and count of even number is: 4

In [46]:
integers = [2,4,5,6]
for i in integers:
  if i%2==0:
    print(i)
print(i)

2
4
6
6

In [ ]:
while True:
  print("hello")

In [61]:
number = 4
fact = 1
if (number==0):
  print(1)
else:
  while number>=1:
    fact = fact*number
    number -=1
  print(fact)

24