In [ ]:
def greet(name):
  return "hello, {}!".format(name)
greet("awaz")

'hello, awaz!'

In [ ]:
#map
def myfun(a):
  return a*a
x = list(map(myfun,(1,2,3,4,5)))
print(x)

[1, 4, 9, 16, 25]

In [ ]:
total_list = list(map(lambda x:x**2,[1,2,3,4]))
print(total_list)

[1, 4, 9, 16]

In [ ]:
#map with lamb
tup= (5, 7, 22, 97, 54, 62, 77, 23, 73, 61)
mylist1= list(map(lambda x:x+3,range(1,11)))
mylist2= list(map(lambda x:x*3,tup))
print(mylist2)

[15, 21, 66, 291, 162, 186, 231, 69, 219, 183]

In [ ]:
#filter
total_list = list(filter(lambda x:x**2,(1,2,3,4)))
print(total_list)

[1, 2, 3, 4]

In [ ]:
#filter with func
def fun(x):
    if x>=3:
      return x
y = list(filter(fun,(1,2,3,4,5)))
z = tuple(filter(fun,(1,2,3,4,5)))
print(y,z)

[3, 4, 5] (3, 4, 5)

In [ ]:
#filter with lambda
fill1= list(filter(lambda x:(x<=3),(1,2,3,4,5)))
print(fill1)

[1, 2, 3]

In [ ]:
counter_value= list(map(lambda x:x+1,range(10)))
print(counter_value)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#reduce function -retrun a single value
from functools import reduce
reduce_fun = reduce(lambda x,y:x**y,(3,2,3))
print(reduce_fun)

729

In [ ]:
#using loops
my_pets = ['alfred', 'tabitha', 'william', 'arla']
upper_list = []
for i in my_pets:
  pet = i.upper()
  upper_list.append(pet)
print(upper_list)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [ ]:
#using map()
my_pets = ['alfred', 'tabitha', 'william', 'arla']
upper_pet = list(map(str.upper,my_pets))
print(upper_pet)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [ ]:
s = ['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']
for i in range(len(s)):
  s[i]= s[i].lower()
print(s)

['alfred', 'tabitha', 'william', 'arla']

In [ ]:
#map()
my_pets=['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']
lower_pet = list(map(lambda x:x.lower(),my_pets))
print(lower_pet)

['alfred', 'tabitha', 'william', 'arla']

In [ ]:
#listcomp
my_pets=['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']
lower_list = [x.lower() for x in my_pets]
print(lower_list)

['alfred', 'tabitha', 'william', 'arla']

In [ ]:
#map
map_list = list(map(lambda x:x+1,(1,2,3,4,5)))
print(map_list)

[2, 3, 4, 5, 6]

In [ ]:
#filter
my_filter=list(filter(lambda x:x!=3,(2,3,4,5)))
print(my_filter)

[2, 4, 5]

In [55]:
#reduce
from functools import reduce
numbers = [3, 4, 6, 9, 34, 12]
def add(a,b):
  return a+b
total_sum = reduce(add,numbers)
print(total_sum)

68

In [61]:
#reduce
numbers = [3, 4, 6, 9, 34, 12]
total_sum = reduce(lambda x,y:(x+y),numbers) 
total_mul = reduce(lambda x,y:(x*y),numbers)
total_diff = reduce(lambda x,y:(x-y),numbers)
print(total_sum)
print(total_mul)
print(total_diff)

68
264384
-62

In [ ]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]
result = list(map(round,circle_areas,range(1,10)))
print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [ ]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]
result = list(zip(my_strings,my_numbers))
print(result)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [ ]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1, 2, 3, 4, 5]

result =list(map(lambda x,y:(x,y),my_strings,my_numbers))
print(result)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [ ]:
my_strings = ['a', 'b', 'c', 'd' ]
my_numbers = [1, 2, 3, 4, 5]
result = zip(my_strings,my_numbers)
print(list(result))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [ ]:
my_strings = ['a', 'b', 'c', 'd' ]
my_numbers = [1, 2, 3, 4, 5]
result = list(map(lambda x,y:(x,y),my_strings,my_numbers))
print(result)

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [ ]:
#filter
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
def students(score):
   return score>75
over_75=list(filter(students,scores))
print(over_75)

[90, 76, 88, 81]

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
over_75 = list(filter(lambda x:x>75,scores))
print(over_75)

[90, 76, 88, 81]

In [ ]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")
def palim(x):
  return x== x[::-1]
total_palim = list(filter(palim,dromes))
print(total_palim)

['madam', 'anutforajaroftuna']

In [52]:
#filter with lambda to find plaindrome
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")
total_palim = list(filter(lambda x:x==x[::-1],dromes))
print(total_palim)

['madam', 'anutforajaroftuna']

In [93]:
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_squares = list(map(lambda x:round(x**2,3),my_floats))
print(my_squares)

[18.922, 37.088, 10.562, 95.453, 4.666, 78.854, 21.068]

In [102]:
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
less_tha_equal_to_7

"['olumide', 'akinremi', 'josiah', 'temidayo', 'omoseun']"