In [63]:
#using nested loops
for i in range(1,6):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [84]:
#backward
for i in reversed(range(6)):
  for j in range(i):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [95]:
#While loop inside a for loop
#we wanted to repeat each name from a list five times
names = ["ram","sam","hari"]
for i in names:
  count = 0
  while count<=4:
      print(i,end=" ")
      count+=1
  print()

ram ram ram ram ram
sam sam sam sam sam
hari hari hari hari hari

In [104]:
#rectangle Pattern with 5 rows and 3 columns of stars
for i in range(5):
  for j in range(3):
    print("*",end=" ")
  print()

* * *
* * *
* * *
* * *
* * *

In [149]:
#break nested loop
for i in range(4):
  for j in range(4):
    if i==j:
      break
    print(i,j)

1 0
2 0
2 1
3 0
3 1
3 2

In [157]:
#continue nested loop
first = [2,4,6]
second =[2,4,6]
for i in first:
  for j in second:
    if i==j:
      continue
  print(i,"*",j,"=",i*j)

2 * 6 = 12
4 * 6 = 24
6 * 6 = 36

In [158]:
#single line nested loop using list comprehension
#nested loop
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
  for j in second:
    final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [161]:
#using list comprehension
first = [2, 3, 4]
second = [20, 30, 40]
final =[i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [173]:
#nested loop in list comprehension
total_list =[i*j for i in range(1,4) for j in range(1,4)]
print(total_list,end ="")

[1, 2, 3, 2, 4, 6, 3, 6, 9]

In [154]:
for i in range(6,1,-1):
  for j in range(i):
    print(j,end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [151]:
i = 1
for i in range(6):
  for j in range(i):
    print(j,end=" ")
  print()
for i in range(6,1,-1):
  for j in range(i):
    print(j,end=" ")
  print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [49]:
#nested loop for multiplication
for i in range(1,11):
  for j in range(1,11):
    print(i*j,end="")
  print()

12345678910
2468101214161820
36912151821242730
481216202428323640
5101520253035404550
6121824303642485460
7142128354249566370
8162432404856647280
9182736455463728190
102030405060708090100

In [177]:
#nested while
i = 1
while i<=5:
  j = 1
  while j<=10:
    print(j,end="")
    j = j+1
  i = i+1
  print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [180]:
#for loop inside while loop
print('Show Perfect number fom 1 to 100')
n = 2
# outer while loop
while n <= 100:
    x_sum = 0
    # inner for loop
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print('Perfect number:', n)
    n += 1

Show Perfect number fom 1 to 100
Perfect number: 6
Perfect number: 28