<a href="https://colab.research.google.com/github/Awazbhujel/python_practice/blob/main/pyhon_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#loops
x =1
y = 1
if y>x:
  print("y is greater")
elif x>y:
  print("x is greater")
else:
    print("they are equal")

they are equal

In [ ]:
#using for loop
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
output =[]
for i in input_list:
  if i%2==0:
    output.append(i)
print(output)

[2, 4, 4, 6]

In [ ]:
#using listcomprehensions
input = [1,2,4,5,6,7]
output = []
mylist = [i for i in input if i%2!=0]
output.append(mylist)
print(output)

[[1, 5, 7]]

In [ ]:
output =[]
for i in range(1,11):
  i=i**2
  output.append(i)
print(output)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#square list:

[1, 2, 3, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7]
output = {}
for i in range(1,11):
  if i%2==0:
    output[i]= i+1
print(output)

{2: 3, 4: 5, 6: 7, 8: 9, 10: 11}

In [ ]:
#dictionary comp
state = ['Gujarat', 'Maharashtra', 'Rajasthan']
capital = ['Gandhinagar', 'Mumbai', 'Jaipur']
cities = {key:value for (key,value) in zip(state,capital)}
print(cities)

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [ ]:
#set comp
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
set_list = {i for i in input_list if i%2!=0}
print(set_list)

{1, 3, 5, 7}

In [ ]:
#generator
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
total_gen =(i for i in input_list if i%2==0) 
for i in total_gen:
  print(i,end=" ")

2 4 4 6

In [ ]:
#nexted list
matrix = []
for i in range(5):
  matrix.append([])

  for j in range(5):
    matrix[i].append(j)
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [ ]:
#nested list comp
total_list =[[[i for i in range(5)] for j in range(5)] for k in range(5)]
print(total_list,end=" ")

[[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]], [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]], [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]], [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]], [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]]

In [ ]:
#2d matrix
matrix = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flatten_matrix = [i for j in matrix for i in j]
print(flatten_matrix)

[1, 2, 3, 4, 5, 6, 7, 8, 9]