In [ ]:
def fun():
  mylist = [i for i in range(1,100) if i%2==0 and i%3==0]
  return mylist
print(fun())

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
x =lambda x:x**2
print(x(3))

9

In [ ]:
def myfil():
  myfilter = list(filter(lambda x:x<5,[1,3,5,6,7,8,9]))
  return myfilter
myfil()

[1, 3]

In [ ]:
list1=[1,2,3,4,5,6,7]
less_than_5=[i for i in list1 if i<5]
print(less_than_5)

[1, 2, 3, 4]

In [ ]:
maplist = list(map(lambda x:x+1,[1,2,3,4,5]))
print(maplist)

[2, 3, 4, 5, 6]

In [ ]:
myfilter = list(filter(lambda x:x%2==0,[1,2,4,6,3,5,7,9,10]))
myfilter

[2, 4, 6, 10]

In [ ]:
def myarg(*args):
  for i in args:
    print(i)
myarg("i","am",19,"years","old",)

i
am
19
years
old

In [ ]:
def mykwargs(**kwargs):
  for i,j in kwargs.items():
    print("%s=%s"%(i,j))
mykwargs(name="awaz",age=20,country="nepal")

name=awaz
age=20
country=nepal

In [ ]:
class myclass:
  def __init__(self,name,age,country):
    self.name=name
    self.age=age
    self.country=country
  def get_all(self):
    print(f"my name is {self.name},age is {self.age} and i am from {self.country}")

class mybio(myclass):
  def __init__(self,name,age,country,education):
      super().__init__(name,age,country)
      self.education = education
  def get_education(self):
    print(f"my education is {self.education}")
  
class mydata(mybio):
  def __init__(self,name,age,country,education,job):
    super().__init__(name,age,country,education)
    self.job = job
  
  def get_job(self):
    print(f"{self.job}")
y=mydata("awaz",20,"nepal","bacholer",2000)
y.get_job()

2000

In [93]:
from functools import reduce
def red():
  redu = reduce(lambda x,y:(x*y),[1,2,3,4,5])
  return redu
red()

120