In [ ]:
class animal:
  def dog(self):
    print("the dog is barking")
  def cat(self):
    print("the cat is moaing")
  def tiger(self):
    print("the tiger is roaring")
animal = animal()
animal.dog()
animal.cat()
animal.tiger()

the dog is barking
the cat is moaing
the tiger is roaring

In [ ]:
#list comprehension
mylist=[i for i in range(1,100) if i%2==0 and i%3==0]
print(mylist)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
#lambda
mylist = [lambda x:x%2==0 and x%3==0 in range(100)]
mylist

In [ ]:
dict1 ={"awaz":1,
        "asmin":2,
        "aman":3}
for key,value in dict1.items():
  print(key,value)

awaz 1
asmin 2
aman 3

In [ ]:
x = lambda x:x*2
print(x(5))

10

In [ ]:
#map
def mymap(x):
  return x**2
total_list= list(map(mymap,range(10)))
print(total_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#map using lambda function
total_list1 = list(map(lambda x:x**2,range(10)))
print(total_list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#using filter and finding numb greater than 6
data = [1,2,3,4,5,6,7,7,7,8,2,3,5,6,7]
arranged_data = set(data)
def greater_than_6(x):
    if x>6:
      return x
mydata = list(filter(lambda x:x>6,arranged_data))
print(mydata)

[7, 8]

In [ ]:
#reduce
from functools import reduce
data = [1,2,3,4,5,6,7,7,7,8,2,3,5,6,7]
arranged_data = set(data)
mydata1=int(reduce(lambda x,y:(x+y),arranged_data))
print(mydata1)

36

In [ ]:
#maximum from list
maxi = reduce(lambda a,b: a if a>b else b,[1,2,3,99,109,33,44,55,66])
print(maxi)

109

In [ ]:
#args
def myargs(*args):
  for i in args:
    print(i,end=" ")
myargs("you","are","hard","working")

you are hard working

In [ ]:
#kwrgs
def mydict(**kwargs):
    for key,value in kwargs.items():
        print("%s=%s"%(key,value))
mydict(name="awaz",age="21",country="Nepal")

name=awaz
age=21
country=Nepal

In [ ]:
#chainmap
from collections import ChainMap
baseline = {'music': 'bach', 'art': 'rembrandt'}
adjustments = {'art': 'van gogh', 'opera': 'carmen'}
list(ChainMap(adjustments,baseline))

['music', 'art', 'opera']