In [ ]:
from array import*
import array as arr

In [ ]:
a = arr.array("b",[2,3,0,6,4,5])
b = arr.array("b",[10,9,8])
c = arr.array("b")
c = a+b
print(c)
a[-1]=1
a[-1]
del a[0]
print(a)
len(a)

array('b', [2, 3, 0, 6, 4, 5, 10, 9, 8])
array('b', [3, 0, 6, 4, 1])

5

In [ ]:
numbers = [i for i in range(100) if i%2==0 and i%3==1]
print(numbers)

[4, 10, 16, 22, 28, 34, 40, 46, 52, 58, 64, 70, 76, 82, 88, 94]

In [ ]:
numbers = lambda x,y:x**y
print(numbers(3,3))

27

In [ ]:
name = lambda x , y:x * y
name("Awaz" ,5)

'AwazAwazAwazAwazAwaz'

In [ ]:
evenumb = [i for i in range(20) if i%2==0]
print(evenumb)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#map
map1 = list(map(lambda x:x+1,[1,2,3,4,5]))
print(map1)

[2, 3, 4, 5, 6]

In [ ]:
#filter
filter1 = list(filter(lambda x:x>5,[1,5,4,7,8,9]))
print(filter1)

[7, 8, 9]

In [ ]:
#reduce
from functools import reduce
myreduce = reduce(lambda x,y:x/y,[1,2,4,5,6,7])
print(myreduce)

0.0005952380952380952

In [58]:
#args
def myfun(*args):
  for i in args:
    print(i)

myfun("awaz",20,"nepal")

awaz
20
nepal

In [60]:
#kawars = works as a dictionary
def mykwargs(**kwargs):
  for i,j in kwargs.items():
    print(i,j)

mykwargs(name="awaz",age=20,country="Nepal")

name awaz
age 20
country Nepal

In [65]:
#args
def test_fun(v_arg,*argv):
  print("first variable is:",v_arg)
  for i in argv:
    print("another variabe through *argv is:",i)
test_fun(1,2,3,4,5)

first variable is: 1
another variabe through *argv is: 2
another variabe through *argv is: 3
another variabe through *argv is: 4
another variabe through *argv is: 5

In [87]:
def intro(**kwargs):
  for i,j in kwargs.items():
    print("{} = {}".format(i,j))

intro(firstname="awaz",lastname="bhujel",degree="bacholer")
print()
intro(firstname="ram",lastname="sharma",degree="engineering")

firstname = awaz
lastname = bhujel
degree = bacholer

firstname = ram
lastname = sharma
degree = engineering

In [90]:
def add(*num):
  total = 0
  for i in num:
    total +=i
  return total

add(1,2)
print(add(1,2,3))
print(add(1,2,3,4,5))

6
15

In [102]:
def arg_printer(a,b,*args,option=True,**kwargs):
  print(a,b)
  print(args)
  print(option)
  print(kwargs)

arg_printer(1,2,3,4,5,id=20,age=21)

1 2
(3, 4, 5)
True
{'id': 20, 'age': 21}

In [108]:
lst= [1,2,3,4,5]
tpl = ("a","b","c")
print(lst)
print(tpl)
print("connecting tupple and list") #using args
arg_printer(*lst, *tpl, 5, 6)

[1, 2, 3, 4, 5]
('a', 'b', 'c')
connecting tupple and list
1 2
(3, 4, 5, 'a', 'b', 'c', 5, 6)
True
{}

In [110]:
dict_comp ={i:i**2 for i in range(1,20) if i%2==0}
print(dict_comp)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [114]:
state = ['Gujarat', 'Maharashtra', 'Rajasthan']
capital = ['Gandhinagar', 'Mumbai', 'Jaipur']
dict_comp = {i:j for (i,j) in zip(state,capital)}
print(dict_comp)

{'Gujarat': 'Gandhinagar', 'Maharashtra': 'Mumbai', 'Rajasthan': 'Jaipur'}

In [115]:
#set comp
input_list = [1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 7]
even_no = {i for i in input_list if i%2==0}
print(even_no)

{2, 4, 6}

In [120]:
#generator comp
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
output_gen = (i for i in input_list if i%2==0)
print(type(output_gen))
for i in output_gen:
  print(i,end=" ")

<class 'generator'>
2 4 4 6

In [134]:
class myclass:
  def __init__(self,fname,lname):
    self.fname = fname
    self.lname = lname
  def get_fullname(self):
    print(f"my name is {self.fname} {self.lname}")

x1 = myclass("awaz","bhujel")
x2 = myclass("asmin","bhujel")
class bio(myclass):
  def __init__(self,fname,lname,country,degree):
    super().__init__(fname,lname)
    self.country = country
    self.degree = degree
  
  def get_country(self):
    print(f"i am from {self.country}")
  
  def study(self):
    print(f"i am studying in {self.degree} 1sem")

b1 = bio("awaz","bhujel","nepal","bca")
b1.get_fullname()
b1.get_country()
b1.study()

my name is awaz bhujel
i am from nepal
i am studying in bca 1sem