In [6]:
#listcomprehension
mylist = [i**2 for i in range(11)]
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#lambda
mylist1= lambda x:x**2 in range(11)
print(mylist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
#map
def square(x):
    return x**2
mylist2= list(map(square,range(11)))
print(mylist2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
#args
def myfun(*args):
  for args in args:
    print(args)
myfun("awaz","nepal",20)

awaz
nepal
20

In [36]:
#kwargs
def myfun(**kwargs):
  for key,value in kwargs.items():
    print("{} is {}".format(key,value))
myfun(name="awaz",country="nepal",age =18)

name is awaz
country is nepal
age is 18

In [46]:
def sum(*args):
  c = 0
  for i in args:
    c+=i
  return c
sum(1,2,3)

6